<ion-list>
  <ion-row (click)="removeFriend()" *ngIf="moduleName == 'my-friends'">
    <ion-col>
      <ion-item >
        <ion-label>
          Unfriend
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row (click)="deletePost()" *ngIf="moduleName == 'my-posts'">
    <ion-col>
      <ion-item >
        <ion-label>
          Delete Post
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row (click)="inactivatePost()" *ngIf="moduleName == 'my-posts'">
    <ion-col>
      <ion-item >
        <ion-label>
          Deactivate Post
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-list>