
<ion-row (click)="toggleAccordion()">
  <ion-col size="11">
    <h2>
      {{ name }}
    </h2>
  </ion-col>
  <ion-col size="1" style="padding-top:25px">
    <span *ngIf="isMenuOpen" >
      <ion-icon name="chevron-up-circle-outline"></ion-icon>
    </span>
    <span *ngIf="!isMenuOpen">
      <ion-icon name="chevron-down-circle-outline"></ion-icon>
    </span>
  </ion-col>
</ion-row>

<ion-card [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
  <ion-card-content>
    <div>
      <p [innerHtml]="displayHtml(description)"></p>
    </div>
  </ion-card-content>
</ion-card>