<div class="loader" *ngIf="showLoader">
  <ion-spinner color="primary"></ion-spinner>
</div>
<div class="popup-wrapper" style="position: fixed;width: 100%;">
  <div style="padding: 20px">
    <div class="loader" *ngIf="showLoader">
      <ion-spinner color="primary"></ion-spinner>
    </div>
    <ion-grid *ngIf="!showLoader" style="color: black;text-align: center;">
      <!-- <form >
        <ion-item>
          <ion-label style="color: #961175;">Name : </ion-label>
          <ion-input name="name" [(ngModel)]="name" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item>
          <ion-label style="color: #961175;">Phone : </ion-label>
          <ion-input  type="number" name="phone" [(ngModel)]="phone" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item>
          <ion-label style="color: #961175;">E-Mail : </ion-label>
          <ion-input type="email" name="email" [(ngModel)]="email" ngDefaultControl></ion-input>
        </ion-item>
        <ion-item>
          <ion-label style="color: #961175;">User Type: </ion-label>
          <ion-input type="email" name="type" [(ngModel)]="type" ngDefaultControl placeholder="Enter 1/0 for Normal/Admins"></ion-input>
        </ion-item>
        <div style="text-align: right;">
          <ion-button class="ion-text-center" (click)="submitMember()" style="text-transform: none;">
            Submit
          </ion-button>
        </div>
      </form> -->
      <form>
        <ion-button (click)="openAddFeedbackModal()" style="text-transform: none;">
          <ion-icon slot="start" name="add"></ion-icon>Add new Member
        </ion-button>
      </form>
    </ion-grid>
  </div>
</div>

<div class="popup-wrapper">
  <div style="padding: 20px;padding-top: 85px;">
    <ion-list>
      <ion-item *ngFor="let users of users">
        <ion-row style="width: 100%;">
          <ion-col size="6">
            <ion-label [ngClass]="(users.user_type == '0')?'zeroMember':'oneMember'">
              {{users.user_name}}<span style="font-size:8px;color:black"> ({{users.sangath_id}})</span>
            </ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label style="text-align: right;color: #961175;">
              <a href="tel:{{users.mobile_no}}" style="text-decoration:none">{{users.mobile_no}}</a>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</div>