
<ion-card style="text-align: justify;">
  <ion-card-content style="padding-top: 10px;padding-bottom:3px">
   Hello, Thanks For choosing <span style="color:#961175">SANGATH</span> as your travel companion. We feel priviledged to have you in our family. Incase of any query or suggestions you can send us a message from feedback section. Incase of any other points, you can reach us at below given details.
  </ion-card-content>
</ion-card>

<ion-card style="text-align: justify;">
  <ion-card-content style="padding-top: 10px;padding-bottom:3px">
   <b style="color: black;"><ion-icon name="mail" style="font-size: 20px;"></ion-icon> : <a href="mailto:mysangathapp@gmail.com">mysangathapp@gmail.com</a>
   <!-- <br><br>
   <ion-icon name="logo-whatsapp" style="font-size: 20px;color: green;"></ion-icon> : <a href="https://wa.me/+919429942743">9429942743</a> -->
  </b>
  </ion-card-content>
</ion-card>