.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.back-svg {
    background: url("../../assets/icon/backsvg.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.upper-cut {
    position: absolute;
    height: 16%;
    top: -32px;
    left: -22px;
}

.lower-cut {
    position: absolute;
    height: 16%;
    bottom: -32px;
    right: -22px;
}

.mob_number {
    border-bottom: 1px solid grey;
    font-size: 24px;
}

.btn-login {
    padding-top: 40px;
    padding-left: 87px;
    padding-right: 87px;
}

.heading {
    font-size: 20px;
}

.input-otp {
    display: inline-block;
    border: solid 1px;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-color: var(--ion-color-primary);
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 13px;
}

.resend-otp {
    color: var(--ion-color-primary);
    text-decoration: underline;
}

.start-btn {
    color: #ffffff;
    --background: #a1a1a1;
    width: 201px;
    height: 50px;
    border-radius: 4px 4px 4px 4px;
}

.start-btn-active {
    color: #ffffff;
    --background: var(--ion-color-primary);
    width: 201px;
    height: 50px;
    border-radius: 4px 4px 4px 4px;
}

.place-line {
    padding-left: 37.5px;
    padding-right: 37.5px;
}
ion-toolbar {
    --background: transparent;
}
