.icon-color {
  --color: white;
  height: 70px;
  background: #961175;
}

.selected-tab {
  --color-selected: lightblue;
  background-color: #961175;
}

.m-button {
  position: absolute;
  bottom: calc(env(safe-area-inset-bottom) + 0px);
  z-index: 99;
  left: 50%;
  transform: translate(-25px, -40px);
  --background: #fff;
}
// .ios.m-button {
//   bottom: 75px !important;
// }

::ng-deep {
  .tab-selected {
    border-top: 4px solid white;    
  }
}

.post-type-popover {
  .popover-content {
    width: 260px;
    left: 58px;
  }
}
